* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: darkblue;
    padding: 16px 0;
    color: #fff;
}


header.container{
    display: flex;
    align-items: center;
}

header li {
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-right: 8px;
}

header li a{
    color: gray;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artigos article img {
    background-color: aqua;
    width: 15%;
}

.articles article img{
  /*  height: 180px; */
  width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration:none ;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.articles article h3{
    font-size: 24px;

}

section h2{
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a{
    background-color: rgba(0, 255, 0, 0.8);
    color: #000;
}

#filme {
    background-color: rgb(187, 176, 164);
    color:black
}

#jogo {
    background-color: rgb(215, 231, 143);
}

#economy {
    background-color: rgb(138, 138, 82);
}

#economy .articles article a {
    background-color: rgb(255, 174, 0);
}

#filme .articles article a{
    background-color: rgb(255, 174, 0);
}